* {
    margin: 0;
    padding: 0;
}

/*********************************** Basic Styling ***********************************/

body {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}

h1, h3, h2{
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    padding: 2% 0 ;
}


/* Header styling */

header{
    background-color: #FEFDED;
}

.intro{
    background-color: #C6EBC5;
    text-align: center;
    padding: 1%;
    font-weight: bold;
    color: #fff8fe;
}

.search{
    border: 1px #000000 solid;
    padding: 1%;
    width: 20%;
}

/* .navbar-nav{
    justify-content: end;
} */



/* Footer styling */
footer{
    background-color: #fff8fe;
}

.footer-logo{
    padding: 5% 0;
}


.footer-icons{
    padding: 5% 0;
}

.copyright{
    display: flex;
    justify-content: flex-end;
}
/*********************************** Home Page Styling ***********************************/

/* Banner styling */
.banner{
    background-color: #FEFDED;
    padding: 5% 0;
}

.banner-imageContainer{
    display: flex;
    justify-content: center;
}

.banner-image{
    max-width: 100%;
    height: 65%;
}


.banner-text{
    padding-left: 5%;
}


.excerpt{
    max-width :400px; ;
}

.excerpt-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    margin: 5% 0;
}


.banner-btn :hover{
    background-color: #FEFDED;
    color:#FA7070 ;
}

.banner-btn{
    background-color: #FA7070;
}

.banner-link{
    color: #FEFDED;
    text-decoration: none;
}


.card{
    width: 15rem;
    margin-bottom: 20%;
    padding-bottom: 5%;
}


.cat-btn{
    color: #000000;
    text-decoration: none;
}

.card-img-top{
    height: 15rem;
    object-fit: cover;
}


.catagories{
    background-color: #FA7070;
}
/*********************************** Archive Page Styling ***********************************/
.archive-btn-group{
    padding: 2%;
    background-color: #fff8fe;
}

.archive{
    background-color: #A8DF8E;
    padding: 5% 0;
}
/*********************************** Recipe Page Styling ***********************************/

.individual-recipe{
    background-color: #A8DF8E;
}

.recipe-img{
    width: 100%;
    height: 100%;
}

.recipe-container{
    margin-bottom: 10%;
    border: 0.5rem solid #A8DF8E;
    padding: 0 2% 2% 2%;
}

.recipe-content{
    display: flex;
    justify-content: space-between;
}

/* .recipe-description-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */
/*********************************** Contact Page Styling ***********************************/

.form-control{
    width: 70%;
    margin-bottom: 5%;
}

.form{
    padding: 5%;
}