{% extends "base.html" %}
{% load static %}

{% block title %} Archive Page {% endblock %}

{% block content %}

<div class="container-fluid archive">
    <div class="container ">
        <div class="row">
            <div class="archive-heading-container">
                <h1 class="archive-heading">
                    Explore our categories, all of them
                </h1>
            </div>
            {% for category in categories %}
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="{{category.image_url}}" alt="Card image cap">
                    <div class="card-body">
                    <h3 class="card-heading">{{category.name}}</h3>
                    <form method="get" action="{% url 'explore' category.name%}">
                        <input type="hidden" name="source" value="{{source}}">
                        <button type="submit" class="btn btn-outline-dark btn-md">Explore Category</button>
                    </form>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>





{% endblock %}