{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid banner">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 banner-text">
                <div class="banner-name">
                    <h1 class='banner-heading'>{{random.name}}</h1>
                </div>
                <div class="banner-description">
                    <div class="excerpt">
                        <div class="excerpt-text">
                            {{random.description}}
                        </div>
                        <div class="excerpt-more">
                            <button class="btn btn-lg btn-outline-dark"><a href="##" class="banner-btn">Read more...</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 banner-imageContainer">
                <img src={{random.thumbnail_url}} alt="A picture showing a catagory" class="banner-image">
            </div>
        </div>
    </div>
</div>

<div class="container catagories">
    <h2 class="catagories">
        Explore our recipes
    </h2>

    <div class="row">
        {% for category in categories %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{category.image_url}}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-heading">{{category.name}}</p>
                  <div class="excerpt-more">
                    <button class="btn btn-primary-lg"><a href="##">Read more...</a></button>
                  </div>
                </div>
              </div>
        </div>
        {% endfor %}

    </div>

</div>







{% endblock %}