{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container banner">
    <div class="row row-col-1">
        <img src={{random.thumbnail_url}} alt="A picture showing a catagory" class="banner-image">

        <div class="col  banner-name">
            {{random.name}}
        </div>
        <div class="col banner-description">
            <div class="excerpt">
                <div class="excerpt-text">
                    {{random.description}}
                </div>
                <div class="excerpt-more">
                    <a href="##">Read more...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container catagories">
    <h2 class="catagories">
        Explore our recipes
    </h2>

    <div class="row">
        <div class="col">
            <!-- <img src={{random.thumbnail_url}} alt="A picture showing a catagory"> -->
            <div class="excerpt">
                <div class="excerpt-text">
                    #####
                </div>
                <div class="excerpt-more">
                    <button class="btn"><a href="##">Read more...</a></button>
                </div>
            </div> 

        </div>

    </div>

</div>







{% endblock %}