{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid  individual-recipe">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <h2 class="individual-recipe-heading">
                    ########################
                </h2>
                <img src="########" alt="The image of the recipe being explored" class="individual-recipe-banner">
            </div>
            <div class="col">
                <p class="individual-recipe-text">
                    ...................
                </p>
            </div>
            <div class="col">
                <div class="btn-group reaction-btn" role="group" aria-label="Basic">
                    <button type="button" class="btn btn-dark-lg"> <!--Put liking icon here--> </button>
                    <button type="button" class="btn btn-dark-lg"> <!--Put disliking icon here --></button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}