{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container recipe">
    <div class="row">
        <div class="col">
            <h3 class="recipe-heading">
                ######
            </h3>
            <!-- image here -->
        </div>
        <div class="col">
            <h3 class="recipe-description-heading">
                ######
            </h3>
            <p class="recipe-description-text">
                #####
            </p>
        </div>
        <div class="col">
            <h3 class="recipe-ingredients-heading">
                ######
            </h3>
            <p class="recipe-ingredients-text">
                #####
            </p>
        </div>
        <div class="col">
            <h3 class="recipe-nutrients-heading">
                ######
            </h3>
            <p class="recipe-nutrients-text">
                #####
            </p>
        </div>
    </div>
</div>

{% endblock %}