{% extends "base.html" %}
{% load static %}

{% block title %} Recipe Page {% endblock %}


{% block content %}
<div class="container-fluid recipe">
    <div class="container ">
        {%for recipe in recipes%}
        <div class="row row-cols-1 recipe-container">
            <div class="col">
                <h3 class="recipe-heading">
                    {{recipe.title}}
                </h3>
                <hr>
            </div>
            <div class="col">
                <div class="row recipe-content">
                    <div class="col">
                        <img src="{{recipe.image}}" alt="recipe image" class="recipe-img">
                    </div>
                    <div class="col">
                        <p class="recipe-description-text">
                            {{recipe.description}}
                        </p>
                    </div>
                    <div class="col">
                        <p class="recipe-nutrients-text">
                            {% for key, value in recipe.nutrition.items %}
                                <span>{{ key }}: {{ value }}</span><br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="btn-group reaction-btn" role="group" aria-label="Basic">
                    <button type="button" class="btn btn-dark-lg"><img width="35" height="35" src="https://img.icons8.com/wired/35/like.png" alt="like-icon"/></button>
                    <button type="button" class="btn btn-dark-lg"><img width="35" height="35" src="https://img.icons8.com/dotty/35/dislike.png" alt="dislike"/></button>
                </div>
                <form method="get" action="{% url 'single' recipe.id %}">
                    <button type="submit">View</button>
                </form>
            </div>
        </div>   
        {% endfor %}
    </div>
</div>




<!-- <div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div> -->

{% endblock %}