{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid  single-recipe">
    <div class="container">
        {% if recipe %}
        <div class="row row-cols-1">
            <div class="col">
                <h1 class="single-recipe-heading">
                    {{recipe.title}}
                </h1>
            </div>
            <div class="col single-recipe-image">
                <img src="{{recipe.image}}" alt="The image of the recipe being explored" class="single-recipe-banner">
            </div>
            <div class="col">
                <p class="single-recipe-prep">
                    {{recipe.prep_time}}
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-cook">
                    {{recipe.cook_time}}
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-ingredients">
                    {% for ingredient in recipe.ingredients %}
                        {{ingredient.ingredient.name}}<br>
                        {{ingredient.description}}<br><br>
                    {% endfor %}
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-servings">
                    {{recipe.num_servings}}
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-instructions">
                    {% for instruction in recipe.instructions %}
                        {{instruction.step}} <br> {{instruction.description}} <br><br>
                    {% endfor %}
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-ratings">
                    {{recipe.user_ratings}}
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-tips">
                    {{recipe.tips}} # 1-10 rating range
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-video">
                    <a href="{{recipe.video}}">Video</a>
                </p>
            </div>
            <div class="col">
                <div class="btn-group reaction-btn" role="group" aria-label="Basic">
                    <button type="button" class="btn btn-dark-lg"><img width="35" height="35" src="https://img.icons8.com/wired/35/like.png" alt="like-icon"/></button>
                    <button type="button" class="btn btn-dark-lg"> <img width="35" height="35" src="https://img.icons8.com/wired/35/dislike.png" alt="dislike-icon"/></button>
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>


{% endblock %}