{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid  single-recipe">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <h1 class="single-recipe-heading">
                    ########################
                </h1>
            </div>
            <div class="col single-recipe-image">
                <img src="########" alt="The image of the recipe being explored" class="single-recipe-banner">
            </div>
            <div class="col">
                <p class="single-recipe-prep">
                    ...................
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-cook">
                    ...................
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-ingredients">
                    ...................
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-servings">
                    ...................
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-instructions">
                    ...................
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-ratings">
                    ...................
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-tips">
                    ...................
                </p>
            </div>
            <div class="col">
                <p class="single-recipe-video">
                    ...................
                </p>
            </div>
            <div class="col">
                <div class="btn-group reaction-btn" role="group" aria-label="Basic">
                    <button type="button" class="btn btn-dark-lg"><img width="35" height="35" src="https://img.icons8.com/wired/35/like.png" alt="like-icon"/></button>
                    <button type="button" class="btn btn-dark-lg"> <img width="35" height="35" src="https://img.icons8.com/wired/35/dislike.png" alt="dislike-icon"/></button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}